* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

html {
  font-size: 62.5%;
  --color-primary: #4263eb;
  overflow-x: hidden;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #edf2ff;
  overflow-x: hidden;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

.outer-container {
  width: 100vw;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.color-main {
  color: var(--color-primary);
}

.max-width-container {
  margin: 0 auto;
  max-width: 1300px;
}

.spinner-article {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 0; /* TO MAKE IT A PERFECT RESPONSIVE SQUARE */
  padding: 45% 0; /* 90% / 2 */
  margin-bottom: 2.4rem;
  border-radius: 8px;
  transition: 0.25s all;
  position: relative;
}

.spinner-article:hover {
  transform: scale(1.05);
  cursor: pointer;
  box-shadow: 0px 6px 15px #e1e1e1;
}

.spinner-article.loading {
  background-image: linear-gradient(
    to right,
    white 0%,
    #fdfeff 30%,
    #f8f8f8 70%,
    white 100%
  );
  background-repeat: no-repeat;
  animation-name: fb-shimmer;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

.loader-anchor {
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
  z-index: 1;
}

@keyframes fb-shimmer {
  from {
    background-position: -200px;
  }

  to {
    background-position: 200px;
  }
}
