* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  --color-primary: #4263eb;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #edf2ff;
}

a {
  text-decoration: none;
}

.outer-container {
  width: 100vw;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.color-main {
  color: var(--color-primary);
}

.max-width-container {
  margin: 0 auto;
  max-width: 1300px;
}
