.loading-text {
  color: #343a40; /* Set a suitable text color */
  font-weight: 600;
  font-size: 24px;
  display: inline-block;
  position: relative;
}

.loading-text::before {
  content: "LOADING"; /* Change content to the text of your h1 */
  color: #5c7cfa; /* Color of the text */
  display: inline-block;
  position: absolute;
  height: 100%;
  width: 0%;
  left: 0;
  overflow: hidden;
  animation: loading-animation 5s ease-in-out forwards; /* Set a suitable time instead of the 5s */
}

@keyframes loading-animation {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

.loading-text-2 {
  color: #343a40; /* Set a suitable text color */
  display: inline-block;
  position: relative;
  font-size: 24px;
}

.loading-text-2::after {
  content: "...";
  color: #343a40; /* Color of the dots */
  display: inline-block;
  width: 0%;
  overflow: hidden;
  vertical-align: bottom;
  animation-name: loading-animation-2;
  animation-duration: 1.75s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(4, jump-none);
}

@keyframes loading-animation-2 {
  0% {
    width: 0%;
  }

  100% {
    width: 12.5%;
  }
}
.loading-text-3 {
  color: #343a40; /* Set a suitable text color */
  font-weight: 600;
  font-size: 24px;
  display: inline-block;
  position: relative;
}

.loading-text-3::before {
  content: "LOADING"; /* Change content to the text of your h1 */
  color: #5c7cfa; /* Color of the text */
  display: inline-block;
  position: absolute;
  height: 100%;
  width: 18%;
  left: 0;
  overflow: hidden;
  animation: loading-animation-3 5s ease-in-out infinite; /* Set a suitable time instead of the 5s */
}

@keyframes loading-animation-3 {
  0% {
    width: 0%;
  }

  50% {
    width: 100%;
  }

  100% {
    width: 0%;
  }
}
.loading-text-4 {
  color: #343a40; /* Set a suitable text color */
  font-weight: 600;
  font-size: 24px;
  animation-name: loading-animation-4;
  animation-duration: 2.75s;
  animation-iteration-count: infinite;
  text-align: center;
  transform-origin: center center;
}

@keyframes loading-animation-4 {
  0% {
    transform: scale(1);
    opacity: 0.75;
  }
  50% {
    transform: scale(1.1);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 0.75;
  }
}

.loading-text-6 {
  color: #343a40; /* Set a suitable text color */
  font-weight: 600;
  font-size: 24px;
  display: inline-block;
  position: relative;
}

.loading-text-6::before {
  content: "LOADING"; /* Change content to the text of your loader */
  color: #5c7cfa; /* Color of the text */
  display: inline-block;
  position: absolute;
  height: -100%;
  width: 100%;
  top: 0;
  overflow: hidden;
  animation: loading-animation-6 5s ease-in-out infinite; /* Set a suitable time instead of the 5s */
}

@keyframes loading-animation-6 {
  0% {
    height: 0%;
  }

  50% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}

.loading-text-7 {
  color: #fff; /* Set a suitable text color */
  font-weight: 600;
  font-size: 24px;
  display: inline-block;
  position: relative;
  animation-name: loading-animation-7;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  border-radius: 5px;
  padding: 5px 10px;
}

@keyframes loading-animation-7 {
  0% {
    background-color: #fff;
  }

  50% {
    background-color: #4263eb;
  }

  100% {
    background-color: #fff;
  }
}

.loading-text-8 {
  font-family: monospace;
  color: #fff; /* Set a suitable text color */
  font-weight: 600;
  font-size: 24px;
  display: inline-block;
  position: relative;
}

.loading-text-8::before {
  content: "LOADING..."; /* Change content to the text of your h1 */
  color: #5c7cfa; /* Color of the text */
  display: inline-block;
  position: absolute;
  height: 100%;
  width: 0%;
  left: 0;
  overflow: hidden;
  border-right: 2px solid #5c7cfa;
  animation: loading-animation-8 steps(10) 10s infinite,
    cursor-blinking-8 0.6s steps(2) infinite; /* Set a suitable time instead of the 5s */
}

@keyframes cursor-blinking-8 {
  from {
    border-color: white;
  }

  to {
    border-color: #5c7cfa;
  }
}
@keyframes loading-animation-8 {
  0% {
    width: 0%;
  }

  35% {
    width: 100%;
  }

  70% {
    width: 100%;
  }

  100% {
    width: 0%;
  }
}

.loading-text-9 {
  color: #fff; /* Set a suitable text color */
  font-weight: 600;
  font-size: 24px;
  display: inline-block;
  position: relative;
}

.loading-text-9::before {
  content: "LOADING..."; /* Change content to the text of your h1 */
  color: #5c7cfa; /* Color of the text */
  display: inline-block;
  position: absolute;
  height: 100%;
  width: 0%;
  left: 0;
  overflow: hidden;
  border-right: 2px solid #5c7cfa;
  animation: loading-animation-9 5s infinite,
    cursor-blinking-9 0.8s steps(2) infinite; /* Set a suitable time instead of the 5s */
}

@keyframes cursor-blinking-9 {
  from {
    border-color: white;
  }

  to {
    border-color: #5c7cfa;
  }
}
@keyframes loading-animation-9 {
  0% {
    width: 0%;
  }

  50% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

.container-rectangle-1 {
  display: flex;
  gap: 15px;
}

.rectangle-1 {
  display: inline-block;
  width: 10px;
  height: 40px;
  background-color: #5c7cfa;
  animation-name: loading-animation-rectangle-1;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.rectangle-1-1 {
  animation-delay: 0.25s;
}

.rectangle-1-2 {
  animation-delay: 0.5s;
}
.rectangle-1-3 {
  animation-delay: 0.75s;
}
.rectangle-1-4 {
  animation-delay: 1s;
}
.rectangle-1-5 {
  animation-delay: 1.25s;
}

@keyframes loading-animation-rectangle-1 {
  20% {
    transform: scaleY(1.5);
  }

  40% {
    transform: scaleY(1);
  }
}

.container-rectangle-2 {
  display: flex;
  gap: 20px;
}

.rectangle-2 {
  display: inline-block;
  width: 20px;
  height: 60px;
  background-color: #5c7cfa;
  animation-name: loading-animation-rectangle-2;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.rectangle-2-center {
  animation-delay: 0.5s;
}
.rectangle-2-right {
  animation-delay: 1s;
}

@keyframes loading-animation-rectangle-2 {
  25% {
    transform: translateY(20px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.container-rectangle-3 {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 16px;
  row-gap: 16px;
  --animation-translate-distance: 56px; /*Make sure this is equal to row-gap of .container-rectangle-3 + the height of rectangle-3   */
}
.rectangle-3 {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #5c7cfa;
}

.rectangle-3 {
  animation-duration: 3.2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.rectangle-3-top-left {
  animation-name: rectangle-3-top-left;
}
.rectangle-3-top-right {
  animation-name: rectangle-3-top-right;
}

.rectangle-3-bottom-right {
  animation-name: rectangle-3-bottom-right;
}

.rectangle-3-bottom-left {
  animation-name: rectangle-3-bottom-left;
}

@keyframes rectangle-3-top-left {
  0% {
    background-color: #5c7cfa;
  }

  25% {
    transform: translateX(var(--animation-translate-distance));
  }
  50% {
    transform: translate(
      var(--animation-translate-distance),
      var(--animation-translate-distance)
    );
  }

  75% {
    transform: translate(0, var(--animation-translate-distance));
  }
}

@keyframes rectangle-3-top-right {
  0% {
    background-color: #5c7cfa;
  }

  25% {
    transform: translateY(var(--animation-translate-distance));
  }
  50% {
    transform: translate(
      calc(var(--animation-translate-distance) * -1),
      var(--animation-translate-distance)
    );
  }

  75% {
    transform: translate(calc(var(--animation-translate-distance) * -1), 0);
  }
}

@keyframes rectangle-3-bottom-right {
  0% {
    background-color: #5c7cfa;
  }

  25% {
    transform: translateX(calc(var(--animation-translate-distance) * -1));
  }
  50% {
    transform: translate(
      calc(var(--animation-translate-distance) * -1),
      calc(var(--animation-translate-distance) * -1)
    );
  }

  75% {
    transform: translate(0, calc(var(--animation-translate-distance) * -1));
  }
}

@keyframes rectangle-3-bottom-left {
  0% {
    background-color: #5c7cfa;
  }

  25% {
    transform: translateY(calc(var(--animation-translate-distance) * -1));
  }
  50% {
    transform: translate(
      var(--animation-translate-distance),
      calc(var(--animation-translate-distance) * -1)
    );
  }

  75% {
    transform: translate(var(--animation-translate-distance), 0);
  }
}

.container-circle-1 {
  display: flex;
  gap: 15px;
}

.circle-1 {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #5c7cfa;
  border-radius: 50%;
  animation-name: loading-animation-circle-1;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes loading-animation-circle-1 {
  50% {
    box-shadow: 0 0 5px 5px rgba(92, 124, 250, 0.5);
    transform: scale(1.1);
  }

  100% {
    box-shadow: 0 0 100px 20px transparent;
    transform: scale(1);
  }
}

.container-circle-2 {
  perspective: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle-2 {
  display: inline-block;
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #5c7cfa;
  border-radius: 50%;
  animation-name: loading-animation-circle-2;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.back {
  background-color: #cc5de8;
  animation-delay: 1.25s;
}

@keyframes loading-animation-circle-2 {
  0% {
    transform: translateZ(0) translateX(0);
    z-index: 0;
  }
  25% {
    transform: translateZ(15px) translateX(25px);
    z-index: 1;
  }
  50% {
    transform: translateZ(30px) translateX(0);
    z-index: 1;
  }

  75% {
    transform: translateZ(15px) translateX(-25px);
    z-index: 0;
  }
}

.circle-3 {
  display: inline-block;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  border: 1px solid #5c7cfa;
  animation-name: loading-animation-circle-3;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes loading-animation-circle-3 {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  100% {
    border: 10px solid #5c7cfa;
    opacity: 0;
    width: 150px;
    height: 150px;
  }
}

.circle-loaders {
  position: relative;
  width: 25px;
  height: 25px;
}
.circle-loader {
  opacity: 0;
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #5c7cfa;
  position: absolute;
  animation-duration: 2s;
}

.circle-loader-4-1 {
  animation-name: loading-animation-circle-4;
  animation-iteration-count: infinite;
  transition-timing-function: linear;
  animation-delay: 0.25s;
}
.circle-loader-4-2 {
  animation-name: loading-animation-circle-4;
  animation-iteration-count: infinite;
  transition-timing-function: linear;
  animation-delay: 0.5s;
}

.circle-loader-4-3 {
  animation-name: loading-animation-circle-4;
  animation-iteration-count: infinite;
  transition-timing-function: linear;
  animation-delay: 0.75s;
}

@keyframes loading-animation-circle-4 {
  0% {
    opacity: 1;
    transform: translateX(-50px);
  }
  100% {
    transform: translateX(50px);
    opacity: 0;
  }
}

.circle-5 {
  display: inline-block;
  width: 115px;
  height: 115px;
  border-radius: 50%;
  border: 10px solid;
  border-color: #5c7cfa transparent #5c7cfa transparent;
  animation-name: loading-animation-circle-5;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes loading-animation-circle-5 {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

.circle-6 {
  display: inline-block;
  width: 115px;
  height: 115px;
  border-radius: 50%;
  background-color: white;

  position: absolute;
  animation-name: loading-animation-circle-6;
  animation-iteration-count: infinite;
  animation-duration: 2s;
}

.circle-6::before {
  background-color: #5c7cfa;
  content: "";
  top: 50%;
  display: inline-block;
  border-radius: 0 0 0 57.5px;
  width: 57.5px;
  height: 57.5px;
  position: absolute;
}

.circle-6::after {
  background-color: #5c7cfa;
  content: "";
  bottom: 50%;
  right: 0;
  display: inline-block;
  border-radius: 0 57.5px 0 0;
  width: 57.5px;
  height: 57.5px;
  position: absolute;
}

@keyframes loading-animation-circle-6 {
  0% {
    opacity: 0;
  }
  50% {
    transform: rotateZ(360deg);
    opacity: 1;
  }
  100% {
    transform: rotateZ(720deg);
    opacity: 0;
  }
}

.circle-7 {
  display: inline-block;
  width: 115px;
  height: 115px;
  border-radius: 50%;
  border: 10px solid #f1f3f5;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-7::after {
  content: "";
  box-sizing: border-box;
  background-color: transparent;
  display: inline-block;
  position: absolute;
  border: 10px solid;
  border-radius: 50%;
  width: 115px;
  height: 115px;
  border-color: #5c7cfa transparent transparent transparent;
  animation-name: loading-animation-circle-7;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes loading-animation-circle-7 {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

.circle-8 {
  display: inline-block;
  border-radius: 50%;
  width: 115px;
  height: 115px;
  background: radial-gradient(white 53%, transparent 55%),
    conic-gradient(transparent 90deg, #5c7cfa 270deg);
  animation-name: loading-animation-circle-8;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes loading-animation-circle-8 {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

.circle-9 {
  display: inline-block;
  width: 115px;
  height: 115px;
  border-radius: 50%;
  border: 10px solid #f1f3f5;
  position: relative;
  background-color: transparent;
}

.circle-9::before {
  content: "";
  position: absolute;
  top: 0;
  width: 20px;
  height: 10px;
  background-color: #5c7cfa;
  left: 50%;
  transform-origin: 0 47.5px;
  transform: translateX(-50%) translateY(-100%);
  border-radius: 50%;
  animation-name: loading-animation-circle-9;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes loading-animation-circle-9 {
  0% {
    transform: rotateZ(0) translateX(-50%) translateY(-100%);
  }
  100% {
    transform: rotateZ(360deg) translateX(-50%) translateY(-100%);
  }
}

.container-rectangle-4 {
  display: flex;
}

.rectangle-4 {
  display: inline-block;
  width: 70px;
  height: 20px;
  background-color: #5c7cfa;
  animation-name: loading-animation-rectangle-4-left;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.rectangle-4.right {
  animation-name: loading-animation-rectangle-4-right;
}

@keyframes loading-animation-rectangle-4-left {
  16% {
    transform: translateY(15px);
  }

  32% {
    transform: translateX(70px) translateY(15px);
  }

  48% {
    transform: translateY(0) translateX(70px);
  }

  64% {
    transform: translateY(15px) translateX(70px);
  }

  80% {
    transform: translateY(15px) translateX(0);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes loading-animation-rectangle-4-right {
  16% {
    transform: translateY(-15px);
  }

  32% {
    transform: translateX(-70px) translateY(-15px);
  }

  48% {
    transform: translateY(0) translateX(-70px);
  }

  64% {
    transform: translateY(-15px) translateX(-70px);
  }

  80% {
    transform: translateY(-15px) translateX(0);
  }
  100% {
    transform: translateY(0);
  }
}
