@media only screen and (min-width: 26em) {
  .header-loaders {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 40.625em) {
  .outer-container {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .header {
    padding-top: 3.2rem;
  }

  .subheading {
    font-size: 1.92rem;
  }

  .instructions {
    font-size: 1.92rem;
    padding: 1rem 2rem;
  }

  .section-main-text {
    margin-bottom: 4.8rem;
  }

  .header-loaders {
    font-size: 2.304rem;
  }

  .logo {
    font-size: 2.765rem;
  }
}
