@media only screen and (min-width: 22.15em) {
  .spinners-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 35em) {
  .spinners-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .instructions-container {
    padding-top: 6.4rem;
  }
}
@media only screen and (min-width: 40.625em) {
  .outer-container {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .instructions-container {
    padding-top: 8rem;
  }

  .header {
    padding-top: 3.2rem;
  }

  .subheading {
    font-size: 1.92rem;
  }

  .instructions {
    font-size: 1.92rem;
    padding: 1rem 2rem;
  }

  .section-main-text {
    margin-bottom: 4.8rem;
  }

  .header-loaders {
    font-size: 2.304rem;
  }

  .logo {
    font-size: 2.765rem;
  }

  .btn-back img {
    width: 32px;
  }
}

@media only screen and (min-width: 50em) {
  .spinners-container {
    grid-template-columns: repeat(4, 1fr);
  }

  .instructions-container {
    padding-top: 8rem;
  }
  .instructions-heading {
    font-size: 2.765rem;
  }

  .instructions-text {
    font-size: 2.304rem;
  }
}

@media only screen and (min-width: 62.5em) {
  .spinners-container {
    grid-template-columns: repeat(5, 1fr);
  }

  .subheading {
    margin-bottom: 0.8rem;
  }

  .main {
    padding-top: 1.8rem;
  }

  .section-hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    gap: 15%;
  }

  .section-main-text {
    flex: 1 0 40%;
  }
  .section-main-img {
    flex: 1 0 60%;
    display: block;
    width: 90%;
    max-height: 500px;
  }

  .hero-img {
    width: 90%;
  }

  .header {
    padding-top: 4rem;
  }

  .logo {
    font-size: 3.318rem;
  }

  .instructions-container {
    flex-direction: row;
    align-items: center;
    gap: 10%;
  }
  .instructions-illustration {
    max-width: 100%;
    margin: 0;
  }

  .instructions-illustration-container {
    flex: 1 0 60%;
  }
  .instructions-text-container {
    flex: 1 0 40%;
  }

  .instructions-heading {
    font-size: 3.318rem;
  }
}
