@media only screen and (min-width: 22.15em) {
  .spinners-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 35em) {
  .spinners-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (min-width: 40.625em) {
  .outer-container {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .header {
    padding-top: 3.2rem;
  }

  .subheading {
    font-size: 1.92rem;
  }

  .instructions {
    font-size: 1.92rem;
    padding: 1rem 2rem;
  }

  .section-main-text {
    margin-bottom: 4.8rem;
  }

  .header-loaders {
    font-size: 2.304rem;
  }

  .logo {
    font-size: 2.765rem;
  }
}

@media only screen and (min-width: 50em) {
  .spinners-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (min-width: 62.5em) {
  .spinners-container {
    grid-template-columns: repeat(5, 1fr);
  }

  .section-hero {
    display: flex;
    flex-direction: row;
  }
  .section-main-img {
    width: 50%;
  }
}
