/* FONT SIZES


82.56px	
68.80px
57.33px
47.78px
39.81px
33.18px
27.65px
23.04px
19.20px
16.00px
13.33px
11.11px
9.26px
7.72px



VERTICAL SPACING
2px
4px
8px
12px
16px
24px
32px
40px
48px
64px
80px
96px

*/

/* HEADER */

.header {
  padding-top: 2.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4.8rem;
}

.logo {
  font-size: 2.304rem;
  color: #212529;
  font-weight: 600;
}

.instructions {
  background-color: var(--color-primary);
  color: #f3f6fd;
  font-size: 1.6rem;
  padding: 0.6rem 1.2rem;
  border-radius: 8px;
}

/* HERO SECTION */

.main {
  padding-top: 8rem;
}
.section-hero {
  margin-bottom: 4.8rem;
}
.subheading {
  font-size: 1.6rem;
  color: var(--color-primary);
  font-weight: 600;
  margin-bottom: 0.4rem;
}

.h1 {
  color: #212529;
  font-size: 3.318rem;
  font-weight: 600;
  line-height: 1.45;
}
.section-main-img {
  display: none;
}
.hero-img {
  width: 100%;
}

.section-main-text {
  margin-bottom: 3.2rem;
}

/* LOADERS SECTION */

.header-loaders {
  font-size: 1.92rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  color: #5b6268;
}

.select-shape {
  border: none;
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
  font-size: 1.92rem;
  background-color: white;
  font-family: inherit;
}
