* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rebeccapurple;
}

html {
  font-size: 62.5%;
  --color-primary: #4263eb;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #edf2ff;
}

a {
  text-decoration: none;
}

.outer-container {
  width: 100vw;
  padding-left: 2rem;
  padding-right: 2rem;
}
